/* Minimal CSS reset by Digital Ocean */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* End of Reset */

body {
  background: rgb(255, 134, 195);
  background: linear-gradient(
    45deg,
    rgba(255, 134, 195, 1) 0%,
    rgba(252, 195, 121, 0.8211659663865546) 47%,
    rgba(166, 110, 254, 1) 100%
  );
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Fredoka One", cursive;
  overflow: hidden;
  position: relative;
}

header {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3vh;
}

header > h1 {
  font-weight: 700;
  font-size: 7rem;
  letter-spacing: 0.6vmax;
}

#start-btn {
  appearance: none;
  outline: none;
  border: 1px solid black;
  background-color: #a66efe;
  width: 270px;
  height: 100px;
  font-size: 4rem;
  -webkit-box-shadow: 13px 12px 0px 0px #000000;
  box-shadow: 12px 12px 0px 0px #000000;
  font-family: inherit;
}

#start-btn:hover {
  filter: brightness(120%);
  cursor: pointer;
}

.entry-form,
.game-content {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(100vw);
}

#form1,
#form2 {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vmax;
  font-size: 2.1rem;
}

#form1 > input {
  font-size: 1.5rem;
  /* width: 100%; */
  height: 5vh;
  padding: 1vmax;
  font-family: inherit;
}

#form1 > .fa-arrow-right {
  align-self: flex-end;
  padding-right: 1vmax;
}

#form1 > .fa-arrow-right:hover {
  cursor: pointer;
}

#form2 {
  transform: translateX(100vw);
}
.markers-choices {
  display: flex;
  gap: 5vw;
}

.fa-xmark,
.fa-o {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid black;
  font-size: 5rem;
  background-color: #a66efe;
  width: 150px;
  height: 150px;
  -webkit-box-shadow: 13px 12px 0px 0px #000000;
  box-shadow: 12px 12px 0px 0px #000000;
}

.fa-xmark {
  font-size: 6rem;
}

.fa-xmark:hover,
.fa-o:hover {
  filter: brightness(120%);
  cursor: pointer;
}

.game-content > h2 {
  font-size: 2.5rem;
  margin: 3vh;
}

.gameboard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 0px;
  align-content: center;
  justify-content: center;
  transition: all 2s ease-in;
}

.gameboard-square {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 9rem;
  font-weight: 900;
  background-color: white;
  border: 2px solid black;
  height: 150px;
  width: 150px;
}

.gameboard-square:hover {
  background-color: #a56efe8e;
  cursor: pointer;
}
